<%= form_for(@stock_sale) do |f| %>
  <% if @stock_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_sale.errors.count, "error") %> prohibited this stock_sale from being saved:</h2>

      <ul>
      <% @stock_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :person_id %><br>
    <%= f.select :person_id, options_from_collection_for_select(Person.all, :id, :first_name) %>
  </div>
    <%= f.label :stock_id %><br>
    <% if @stock_sale.stock_id != nil %>
      <%= f.select :stock_id, options_from_collection_for_select(Stock.all, :id, :symbol, @stock_sale.stock_id), :include_blank => true %>
    <% else %>
      <%= f.select :stock_id, options_from_collection_for_select(Stock.all, :id, :symbol), :include_blank => true %>
    <% end %>
  <% if @stock_purchase != nil %>  
    <div class="field">
      <%= f.label :stock_purchase_id %><br>
      <%= f.text_field :stock_purchase_id, :value => @stock_purchase.id %>
    </div>
  <% end %>
  <% if @stock_award != nil %>
    <div class="field">
      <%= f.label :stock_award_id %> <%= @stock_award.award_id %><br>
      <%= f.hidden_field :stock_award_id %>
    </div>
    <div class="field">
      <%= f.label :stock_award_vesting_id %><br>
      <%= f.select :stock_award_vesting_id, options_from_collection_for_select(StockAwardVesting.where(:stock_award_id => @stock_award.id), :id, :vest_date) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :trade_date %><br>
    <%= f.date_field :trade_date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :shares %><br>
    <%= f.number_field :shares %>
  </div>
  <div class="field">
    <%= f.label :fees %><br>
    <%= f.text_field :fees %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
