<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :blog_link %><br>
    <%= f.text_field :blog_link %>
  </div>
  <div class="field">
    <%= f.label :photo_link %><br>
    <%= f.text_field :photo_link %>
  </div>
  <div class="field">
    <%= f.label :tripit_link %><br>
    <%= f.text_field :tripit_link %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <% if @trip.owner_id != nil %>
      <%= f.select :owner_id, options_from_collection_for_select(Person.all, :id, :first_name, @trip.owner), :include_blank => true %>
    <% else %>
      <%= f.select :owner_id, options_from_collection_for_select(Person.all, :id, :first_name, @current_user.person_id), :include_blank => true %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
