<%= link_to 'Attractions', attractions_path %>
<%= link_to 'Locations', locations_path %><br/><br/>

<h3>Upcoming Trips</h3>
<table border='1'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dates</th>
      <th>Description</th>
      <th>Blog link</th>
      <th>Photo link</th>
      <th>Tripit link</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcoming_trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.name , trip %></td>
        <td><%= trip.first_date %><br/> to <br/><%= trip.last_date%></td>
        <td><%= trip.description %></td>
        <td><%= trip.blog_link %></td>
        <td><%= trip.photo_link %></td>
        <td><% if trip.tripit_link != '' %><%= link_to 'Tripit', trip.tripit_link, target: '_blank' %><%end%></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>

<h3>Future Trips</h3>
<table border='1'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @future_trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.name , trip %></td>
        <td><%= trip.description %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Past Trips</h3>

<table border='1'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dates</th>
      <th>Description</th>
      <th>Blog link</th>
      <th>Photo link</th>
      <th>Tripit link</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.name , trip %></td>
        <td><%= trip.first_date %><br/> to <br/><%= trip.last_date%></td>
        <td><%= trip.description %></td>
        <td><%= trip.blog_link %></td>
        <td><%= trip.photo_link %></td>
        <td><% if trip.tripit_link != '' %><%= link_to 'Tripit', trip.tripit_link, target: '_blank' %><%end%></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
