<%= link_to 'Attractions', attractions_path %>
<%= link_to 'Locations', locations_path %>
<%= link_to 'Loyalty Programs', loyalty_programs_path %>
<br/><br/>

<h3>My Upcoming Trips</h3>
<table>
  <tbody>
    <% @upcoming_trips.each do |trip| %>
      <tr>
        <td class="trips">
          <strong><%= link_to trip.name , trip %></strong> <br/><%= trip.first_date.try(:strftime, "%A - %b %d, %Y") %> to <%= trip.last_date.try(:strftime, "%A - %b %d, %Y") %> <br/>
          <em><%= trip.description %></em>
        </td>
        <td><%= trip.blog_link %></td>
        <td><%= trip.photo_link %></td>
        <td><% if trip.tripit_link != '' %><%= link_to 'Tripit', trip.tripit_link, target: '_blank' %><%end%></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>

<h3>My Future Trips</h3>
<table>
  <tbody>
    <% @future_trips.each do |trip| %>
      <tr>
        <td><strong><%= link_to trip.name , trip %></strong><br/>
          <em><%= trip.description %></em></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>My Past Trips</h3>
<%= link_to 'Copy Packed Items from a Past Trip' , trip_has_inventory_items_select_trips_to_copy_path %><br/>
<table>
  <tbody>
    <% @past_trips.each do |trip| %>
      <tr>
        <td>
          <strong><%= link_to trip.name , trip %></strong> <br/><%= trip.first_date.try(:strftime, "%A - %b %d, %Y") %> to <%= trip.last_date.try(:strftime, "%A - %b %d, %Y") %> <br/>
          <em><%= trip.description %></em>
        </td>
        <td><%= trip.blog_link %></td>
        <td><%= trip.photo_link %></td>
        <td><% if trip.tripit_link != '' %><%= link_to 'Tripit', trip.tripit_link, target: '_blank' %><%end%></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
