 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <h4 style="padding:5px;">Pack List</h4>
          <ul style="padding:5px">
          <% @unique_items = @trip_items.uniq{|x| x.inventory_item.id} %>
          <% @unique_items.each do |item| %>
            <% @count = 0 %>
            <% @trip_items.find_all {|x| x.inventory_item.id == item.inventory_item.id}.each do |count_item|  %>
              <% if ! count_item.reused? %>
                <% @count = @count + count_item.get_amount.to_i %>
              <% end %>
            <% end %>
          <% if ! item.reused? %>
            <li class='items'>
              <% if @count > 1%>
                (<%= @count %>) 
              <% end %>

                <%= link_to item.inventory_item.full_name, item.inventory_item %> 
                <%= link_to "change", edit_trip_has_inventory_item_path(item) %> 
              
              <% if @count > 1 %>
                 <img class="pack-all-items" id=<%= item.id %>  src='http://cdn.flaticon.com/svg/31/31290.svg' width='20' /> all
                 <img class="pack-item-single" id=<%= item.id %> src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' />(1) 

              <% else %>
                <img class="pack-item" id=<%= item.id %> src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' />
              <% end %>
            </li>
          <% end %>
          <% end %>
          <span id="newItem"><button id='addItem'>Add Item</button></span>
        </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <%= render 'trip_details' %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>