<% @activities_array = 0 %>
<% @packed_items_array = 1 %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Trip: <%= @trip.name %></strong>
  <br/>
  <%= @trip.description %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @trip.blog_link %>

  <strong>Photo:</strong>
  <%= @trip.photo_link %>

  <% if @trip.tripit_link != '' %>
    <%= link_to 'Tripit Link', @trip.tripit_link, target: "_blank" %>

  <% end %>

</p>


<strong>Itinerary:</strong><br/>
Number of Days: <%= @total_days %>

 <% if @no_date_activities.count > 0 %>
<br/>
 <em>Unscheduled Activities</em><br/>
  <% @no_date_activities.each do |activity| %>
    <%= link_to activity.get_name, activity %> <%= link_to 'edit', edit_itinerary_activity_path(activity) %><br/>
  <% end %>
<% end %>
<% if @days.count > 0 %>
<div class='container'>
<div class='schedule'>
  <span class='travel_header'><strong>Travel</strong></span>
  <span class='lodging_header'><strong>Lodging</strong></span>
  <span class='activity_header'><strong>Activities</strong></span>
  <span class='activity_header'><strong>Dining</strong></span>
  <span class='activity_header'><strong>Pack</strong></span>
  <% activity_count = 0 %>
  <% @days.each do |day| %>
      <% if day[@activities_array].count == 0 and day[@packed_items_array].count > 0 %>
          <div class='day' id=<%= 'day' + (@days.index(day)+1).to_s %>>
            <span class='datename'>
              <strong><%= day[@packed_items_array].first.date.try(:strftime, "%A - %b %d, %Y") %></strong>
            </span>
      <% end %>
      
      <% day[@activities_array].each do |row| %>
        <% if row == day[@activities_array].first %>
          <div class='day' id=<%= 'day' + (@days.index(day)+1).to_s %>>
            <span class='datename'>
              <strong><%= row.date %></strong>
            </span>
          <div class="time_based">
        <% end %>
          <div class=
            <% if row.attraction != nil and row.attraction.attraction_category != nil and row.attraction.attraction_category.name == "Hotel" %>
              "item lodging"
            <% elsif row.airline != nil %>
              "item travel"
            <% else %>
              "item activity"
            <% end %>
            id=<%= activity_count = activity_count + 1 %>
          >
            <%= row.datetime.try(:strftime, "%I:%M %p ") %>
            <br/>
            <%= link_to row.get_name, row.activity %> 
            <%= link_to 'edit', edit_itinerary_activity_path(row.activity) %>
          </div>
            
            <% if row.pair == "pair" %>
              <div class=
              <% if row.attraction != nil and row.attraction.attraction_category != nil and row.attraction.attraction_category.name == "Hotel" %>
                "lodging_connector"
              <% elsif row.airline != nil %>
                "travel_connector"
              <% else %>
                "item activity_connector"
              <% end %> 
              >
                <% if row.airline != nil %> 
                       <%= link_to image_tag(row.airline.image, height: '12'), row.airline %>
                <% elsif row.attraction != nil and row.attraction.hotel != nil%>
                      <%= link_to image_tag(row.attraction.hotel.image, height: '12'), row.attraction.hotel %>
                <% end %>

            </div>
            <% end %>
            

      <% end %>
                        
       </div>
            <div class=<% if day[0].count == 0 %> 
                          "pack_items no-time-based"
                        <% else %>
                          "pack_items"
                        <% end %>
                          >
              <ul>
                <% @shirts = Array.new %>
                <% day[1].each do |trip_item|  %>
                  <% if trip_item.inventory_item.subcategory != nil and trip_item.inventory_item.subcategory.subcategory == "Shirts" %>
                    <% @shirts << trip_item %>
                    <% day[1].delete(trip_item) %>
                  <% end %>
                <% end %>
                <em>Shirt</em><br/>
                <% if @shirts.count > 0 %>
                  <% @shirts.each do |shirt| %>
                    <li><%= link_to shirt.inventory_item.full_name, shirt.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(shirt) %></li>
                  <% end %>
                <% else %>
                  <%= link_to "choose shirt", new_trip_has_inventory_item_path, {:style=>'color:red;', :class => "css_class"} %> <br/>
                <% end %>
                
                <% @pants = Array.new %>
                <% day[1].each do |trip_item|  %>
                  <% if trip_item.inventory_item.subcategory != nil and trip_item.inventory_item.subcategory.subcategory == "Pants" %>
                    <% @pants << trip_item %>
                    <% day[1].delete(trip_item) %>
                  <% end %>
                <% end %>
                <em>Pants</em><br/>
                <% if @pants.count > 0 %>
                <% @pants.each do |shirt| %>
                    <li><%= link_to shirt.inventory_item.full_name, shirt.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(shirt) %></li>
                  <% end %>
                <% else %>
                  <%= link_to "choose pants", new_trip_has_inventory_item_path, {:style=>'color:red;', :class => "css_class"} %> <br/>
                <% end %>
                
                <% @boxers = Array.new %>
                <% @socks = Array.new %>
                <% @undershirts = Array.new %>
                <% day[1].each do |trip_item|  %>
                  <% if trip_item.inventory_item.subcategory != nil and trip_item.inventory_item.subcategory.subcategory == "Boxers" %>
                    <% @boxers << trip_item %>
                    <% day[1].delete(trip_item) %>
                  <% end %>
                <% end %>
                <% day[1].each do |trip_item|  %>
                  <% if trip_item.inventory_item.subcategory != nil and trip_item.inventory_item.subcategory.subcategory == "Socks" %>
                    <% @socks << trip_item %>
                    <% day[1].delete(trip_item) %>
                  <% end %>
                <% end %>
                <% day[1].each do |trip_item|  %>
                  <% if trip_item.inventory_item.subcategory != nil and trip_item.inventory_item.subcategory.subcategory == "Undershirts" %>
                    <% @undershirts << trip_item %>
                    <% day[1].delete(trip_item) %>
                  <% end %>
                <% end %>
                <em>Undergarments</em><br/>
                <% if @socks.count > 0 %>
                <% @socks.each do |socks| %>
                    <li><%= link_to socks.inventory_item.full_name, socks.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(socks) %></li>
                  <% end %>
                <% else %>
                  <%= link_to "add socks", new_trip_has_inventory_item_path, {:style=>'color:red;', :class => "css_class"} %> <br/>
                <% end %>
                <% if @boxers.count > 0 %>
                <% @boxers.each do |boxers| %>
                    <li><%= link_to boxers.inventory_item.full_name, boxers.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(boxers) %></li>
                  <% end %>
                <% else %>
                  <%= link_to "add boxers", new_trip_has_inventory_item_path, {:style=>'color:red;', :class => "css_class"} %> <br/>
                <% end %>
                <% if @undershirts.count > 0 %>
                <% @undershirts.each do |undershirt| %>
                    <li><%= link_to undershirt.inventory_item.full_name, undershirt.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(undershirt) %></li>
                  <% end %>
                <% end %>
                
                 <% @shoes = Array.new %>
                <% day[1].each do |trip_item|  %>
                  <% if trip_item.inventory_item.subcategory != nil and trip_item.inventory_item.subcategory.subcategory == "Shoes" %>
                    <% @shoes << trip_item %>
                    <% day[1].delete(trip_item) %>
                  <% end %>
                <% end %>
                <em>Shoes</em><br/>
                <% if @shoes.count > 0 %>
                <% @shoes.each do |shoe| %>
                    <li><%= link_to shoe.inventory_item.full_name, shoe.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(shoe) %></li>
                  <% end %>
                <% else %>
                  <%= link_to "choose shoes", new_trip_has_inventory_item_path, {:style=>'color:red;', :class => "css_class"} %> <br/>
                <% end %>
                
                
                <% if day[1].count > 0 %>
                <em>Other</em><br/>
                <% day[1].each do |trip_item| %>
                  <li><%= link_to trip_item.inventory_item.full_name, trip_item.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(trip_item) %></li>
                <% end %>
                <% end %>
              </ul>
            </div>
    </div>

    <% end %>
</div>

<%= link_to 'Add Itinerary Activity' , new_itinerary_activity_path(@trip) %>

<% end %>
<br/><br/><br/>
<div>


<div>
<p>
  <strong>Pack List:</strong>
  <ul>
    <% @unique_items = @trip_items.uniq{|x| x.inventory_item.id} %>
    <% @unique_items.each do |item| %>
      <% @count = 0 %>
      <% @trip_items.find_all {|x| x.inventory_item.id == item.inventory_item.id}.each do |count_item|  %>
        <% if ! count_item.reused? %>
          <% @count = @count + count_item.get_amount.to_i %>
        <% end %>
      <% end %>
    <% if ! item.reused? %>
      <li>
        <% if @count > 1%>
          (<%= @count %>) 
        <% end %>

          <%= link_to item.inventory_item.full_name, item.inventory_item %> 
          <%= link_to "change", edit_trip_has_inventory_item_path(item) %> 
        
        <% if @count > 1 %>
          <img class="pack-item-single" id=<%= item.id %> src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' />(1) 
          <img class="pack-all-items" id=<%= item.id %>  src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' /> all
        <% else %>
          <img class="pack-item" id=<%= item.id %> src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' />
        <% end %>
      </li>
    <% end %>
    <% end %>
    <li><span id="newItem"><button id='addItem'>Add Item</button></span></li>
  </ul>

</p>
</div>
<div>
<p>
  <strong>Packed Items:</strong>
  <ul id='packed_list'>
    <% @packed_trip_items.each do |item| %>
      <li><%= link_to item.inventory_item.full_name, item.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(item) %></li>
    <% end %>
  </ul>

</p>
</div>



<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'All Trips', trips_path %>


<script type="text/javascript">
$('#addItem').click(function(){
    addRow();
});

function addRow(){
  $('#newItem').html("<%= j render 'trip_has_inventory_items/add_item_to_trip' %>");
}

function addItem(){
    var trip_id = <%= @trip.id %>;
    var item_id = $('#inventory_item_id').children(":selected").attr("value");
    var amount = $('#trip_has_inventory_item_amount').val();
    var date = $('#item_date').val()
    var new_item = $.ajax({url: "add_item", type: "POST", data: {'trip_id': trip_id ,'inventory_item_id': item_id, 'amount': amount, 'date': date}, dataType: 'json'}).done(function(data){ 
      $('#newItem').before("<li><a href='/inventory_items/"+data[1]+"'>" + data[0] + "</a></li>");
      $('#newItem').html("<li><span id='newItem'><button id='addItem' onclick='addRow()''>+ Add Item</button></span></li>");

     });
}


$('.pack-item').click(function(){
  var new_item = $.ajax({url: "/trips/pack_item", type: "POST", data: {'id': this.id}, dataType: 'json'}).done(function(data){ 
      $('#'+data[0].id).parent().remove();
      $('#packed_list').append("<li><a href='/inventory_items/"+data[1]+"'>" + data[2] + "</a> <a href='/trip_has_inventory_items/"+data[0].id+"/edit'>change</a></li>");

     });
})

$(document).on("click", "img.pack-item-single", function(){
  var new_item = $.ajax({url: "/trips/pack_item_multiple", type: "POST", data: {'id': this.id, 'all': false}, dataType: 'json'}).done(function(data){ 
    console.log(data);
      if(data[3] >= 2){
        $('#'+data[0].id).parent().replaceWith(
          "<li>("+ (data[3]) +") <a href='/inventory_items/"+data[1]+"'>" + data[2] + "</a> <a href='/trip_has_inventory_items/"+data[0].id+"/edit'>change</a> <img class='pack-item-single' id="+data[0].id+" src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' />(1) <img class='pack-all-items' id="+data[0].id+" src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' />all</li>");
      }else if(data[3] == 1){
        $('#'+data[0].id).parent().replaceWith(
          "<li><a href='/inventory_items/"+data[1]+"'>" + data[2] + "</a> <a href='/trip_has_inventory_items/"+data[0].id+"/edit'>change</a> <img class='pack-item-single' id="+data[0].id+" src='http://cdn.flaticon.com/svg/61/61161.svg' width='20' /></li>");
      }else{
        $('#'+data[0].id).parent().remove();
      }
      $('#packed_list').append("<li><a href='/inventory_items/"+data[1]+"'>" + data[2] + "</a> <a href='/trip_has_inventory_items/"+data[0].id+"/edit'>change</a></li>");

  });
});

$('.pack-all-items').click(function(){
  var new_item = $.ajax({url: "/trips/pack_item_multiple", type: "POST", data: {'id': this.id, 'all': true}, dataType: 'json'}).done(function(data){ 
      $('#'+data[0].id).parent().remove();
      $('#packed_list').append("<li>(" + data[3] + ") <a href='/inventory_items/"+data[1]+"'>" + data[2] + "</a> <a href='/trip_has_inventory_items/"+data[0].id+"/edit'>change</a></li>");

     });
})

</script>