<p id="notice"><%= notice %></p>

<p>
  <strong>Trip: <%= @trip.name %></strong>
  <br/>
  <%= @trip.description %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @trip.blog_link %>

  <strong>Photo:</strong>
  <%= @trip.photo_link %>

  <% if @trip.tripit_link != '' %>
    <%= link_to 'Tripit Link', @trip.tripit_link, target: "_blank" %>

  <% end %>

</p>

<p>
  <strong>Itinerary:</strong>
  <% if @days.count > 0 %>
  Days: <%= @days.count %>
  <ul>
    <% @days.each do |day| %>
      <% day.each do |activity| %>
        <% if activity == day.first %>
          <strong><%= activity.date %></strong>
        <% end %>
        <li> 
          <%= activity.datetime.strftime("%I:%M %p - ") %>
          <%= link_to activity.get_name, activity %> 
          <% if activity.airline_id != nil %> 
            <%= link_to image_tag(activity.airline.image, height: '12'), activity.airline %>
          <% elsif activity.attraction != nil and activity.attraction.hotel != nil%>
            <%= link_to image_tag(activity.attraction.hotel.image, height: '12'), activity.attraction.hotel %>
          <% end %>
          <%= link_to 'edit', edit_itinerary_activity_path(activity) %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <a href='#'>Add Itinerary Activity</a>  <%= link_to 'Temporary Add Activity' , new_itinerary_activity_path %>
<% end %>
</p>


<strong>Itinerary:</strong>
<% if @days.count > 0 %>
  Days: <%= @days.count %>
  <table border='1'>
    <th>Date</th>
    <th>Travel</th>
    <th>Activities</th>
    <th>Lodging</th>
    <th>Pack</th>
    <th>Food</th>

    <% @days.each do |day| %>
      <tr>
        <% day.each do |activity| %>
          <% if activity == day.first %>
            <td rowspan=<%=day.count%>>
              <strong><%= activity.date %></strong>
            </td>
            <td>
          <% else %>
            <tr>
              <td>
          <% end %>
          <% if activity.airline_id == nil%>
            </td><td>
          <% end %>
          <% if activity.attraction != nil and activity.attraction.attraction_category != nil and activity.attraction.attraction_category.name == "Hotel" %>
            </td><td>
          <% end %>
          <ul>
            <li> 
              <%= activity.datetime.strftime("%I:%M %p - ") %>
                <%= link_to activity.get_name, activity %> 
                <% if activity.airline_id != nil %> 
                  <%= link_to image_tag(activity.airline.image, height: '12'), activity.airline %>
                <% elsif activity.attraction != nil and activity.attraction.hotel != nil%>
                  <%= link_to image_tag(activity.attraction.hotel.image, height: '12'), activity.attraction.hotel %>
                <% end %>
                <%= link_to 'edit', edit_itinerary_activity_path(activity) %>
              </li>
            </td>
          </ul>
        <% if activity.airline_id != nil %>
          <td></td>
          <td></td>
          <td></td>          
          <td></td>

        <% elsif activity.attraction != nil and activity.attraction.attraction_category != nil and activity.attraction.attraction_category.name == "Hotel" %>
            <td></td>
            <td></td>
        <% else %>
            <td></td>
            <td></td>
            <td></td>
        <% end %>
        <% end %>


      </tr>
      <% end %>
  </table>
    <a href='#'>Add Itinerary Activity</a>  <%= link_to 'Temporary Add Activity' , new_itinerary_activity_path %>
<% end %>

<p>
  <strong>Pack List:</strong>
  <% if @trip_items.count > 0 %>
  <ul>
    <% @trip_items.each do |item| %>
      <li><%= link_to item.inventory_item.full_name, item.inventory_item %> <a href='#'>remove</a></li>
    <% end %>
  </ul>
  <% end %>
  <a href='#'>Add Item</a>  <%= link_to 'Temporary Add Item' , new_trip_has_inventory_item_path %>

</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'All Trips', trips_path %>
