<% @activities_array = 0 %>
<% @packed_items_array = 1 %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Trip: <%= @trip.name %></strong>
  <br/>
  <%= @trip.description %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @trip.blog_link %>

  <strong>Photo:</strong>
  <%= @trip.photo_link %>

  <% if @trip.tripit_link != '' %>
    <%= link_to 'Tripit Link', @trip.tripit_link, target: "_blank" %>

  <% end %>

</p>


<strong>Itinerary:</strong><br/>
Number of Days: <%= @total_days %>

 <% if @no_date_activities.count > 0 %>
<br/>
 <em>Unscheduled Activities</em><br/>
  <% @no_date_activities.each do |activity| %>
    <%= link_to activity.get_name, activity %> <%= link_to 'edit', edit_itinerary_activity_path(activity) %><br/>
  <% end %>
<% end %>
<% if @days.count > 0 %>
<div class='container'>
<div class='schedule'>
  <span class='travel_header'><strong>Travel</strong></span>
  <span class='lodging_header'><strong>Lodging</strong></span>
  <span class='activity_header'><strong>Activities</strong></span>
  <span class='activity_header'><strong>Dining</strong></span>
  <span class='activity_header'><strong>Pack</strong></span>
  <% activity_count = 0 %>
  <% @days.each do |day| %>
      <% if day[@activities_array].count == 0 and day[@packed_items_array].count > 0 %>
          <div class='day' id=<%= 'day' + (@days.index(day)+1).to_s %>>
            <span class='datename'>
              <strong><%= day[@packed_items_array].first.date.try(:strftime, "%A - %b %d, %Y") %></strong>
            </span>
      <% end %>
      
      <% day[@activities_array].each do |row| %>
        <% if row == day[@activities_array].first %>
          <div class='day' id=<%= 'day' + (@days.index(day)+1).to_s %>>
            <span class='datename'>
              <strong><%= row.date %></strong>
            </span>
          <div class="time_based">
        <% end %>
          <div class=
            <% if row.attraction != nil and row.attraction.attraction_category != nil and row.attraction.attraction_category.name == "Hotel" %>
              "item lodging"
            <% elsif row.airline != nil %>
              "item travel"
            <% else %>
              "item activity"
            <% end %>
            id=<%= activity_count = activity_count + 1 %>>
  
            <%= row.datetime.try(:strftime, "%I:%M %p ") %>
            <br/>
            <%= link_to row.get_name, row.activity %> 
            <%= link_to 'edit', edit_itinerary_activity_path(row.activity) %>
          </div>
            
            <% if row.pair == "pair" %>
              <div class=
              <% if row.attraction != nil and row.attraction.attraction_category != nil and row.attraction.attraction_category.name == "Hotel" %>
                "lodging_connector"
              <% elsif row.airline != nil %>
                "travel_connector"
              <% else %>
                "item activity"
              <% end %> 
              >
                <% if row.airline != nil %> 
                       <%= link_to image_tag(row.airline.image, height: '12'), row.airline %>
                <% elsif row.attraction != nil and row.attraction.hotel != nil%>
                      <%= link_to image_tag(row.attraction.hotel.image, height: '12'), row.attraction.hotel %>
                <% end %>


            <% end %>
            </div>
            
 
      <% end %>
            <div class=<% if day[0].count == 0 %> 
                          "pack_items no-time-based"
                        <% else %>
                          "pack_items"
                        <% end %>
                          >
              <ul>
                <% day[1].each do |trip_item| %>
                  <li><%= link_to trip_item.inventory_item.full_name, trip_item.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(trip_item) %></li>
                <% end %>
              </ul>
            </div>
    </div>
    <% end %>
</div>

<%= link_to 'Add Itinerary Activity' , new_itinerary_activity_path(@trip) %>

<% end %>
<br/><br/><br/>
<div>


<div>
<p>
  <strong>Pack List:</strong>
  <ul>
    <% @trip_items.each do |item| %>
      <li><%= link_to item.inventory_item.full_name, item.inventory_item %> <%= link_to "change", edit_trip_has_inventory_item_path(item) %> <a href='#'>remove</a></li>
    <% end %>
    <li><span id="newItem"><button id='addItem'>Add Item</button></span></li>
  </ul>

</p>
</div>
<div>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'All Trips', trips_path %>


<script type="text/javascript">
$('#addItem').click(function(){
    addRow();
});

function addRow(){
  $('#newItem').html("<%= j render 'trip_has_inventory_items/add_item_to_trip' %>");
}

function addItem(){
    var trip_id = <%= @trip.id %>;
    var item_id = $('#inventory_item_id').children(":selected").attr("value");
    var amount = $('#trip_has_inventory_item_amount').val();
    var date = $('#item_date').val()
    var new_item = $.ajax({url: "add_item", type: "POST", data: {'trip_id': trip_id ,'inventory_item_id': item_id, 'amount': amount, 'date': date}, dataType: 'json'}).done(function(data){ 
      $('#newItem').before("<li><a href='/inventory_items/"+data[1]+"'>" + data[0] + "</a> <a href='#'>remove</a></li>");
      $('#newItem').html("<li><span id='newItem'><button id='addItem' onclick='addRow()''>+ Add Item</button></span></li>");

     });
}
</script>