<%= form_for(@event_aspect_has_event_detail) do |f| %>
  <% if @event_aspect_has_event_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_aspect_has_event_detail.errors.count, "error") %> prohibited this event_aspect_has_event_detail from being saved:</h2>

      <ul>
      <% @event_aspect_has_event_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_aspect_id %><br>
    <%= f.text_field :activity_aspect_id %>
  </div>
  <div class="field">
    <%= f.label :event_detail_id %><br>
    <%= f.text_field :event_detail_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
