<p id="notice"><%= notice %></p>
  <% if @person.user_account != nil %>
    <img src= <%= @person.user_account.picture %> >
  <% end %>

<h3> <%= @person.first_name %> <%= @person.last_name %> </h3>
<% if @person.nick_name != '' %>
  <p>
    <strong>Nick name:</strong>
    <%= @person.nick_name %>
  </p>
<% end %>

<p>

  
</p>

<p>

  <% if @person.user_account != nil %>
    <strong>Email:</strong> <%= @person.user_account.email %><br/>

    <strong>Username:</strong> <%= @person.user_account.username %>

    <br/>
    <strong>Security roles: </strong>
    <ul>
      <% @person.user_account.roles.each do |role| %>
        <li><%= link_to role.name, role %></li>
      <% end %>
    </ul>

  <% end %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
