<p id="notice"><%= notice %></p>

<div class="col-md-6">
<p>
  <strong>Stock:</strong>
  <%= link_to @stock_award.stock.symbol, @stock_award.stock %>
</p>

<p>
  <strong>Current Price:</strong>
    <%= @stock_price = @stock_award.stock.quote.last_trade_price_only %>
</p>

<p>
  <strong>Stock Award ID:</strong>
  <%= @stock_award.award_id %>
</p>

<p>
  <strong>Award type:</strong>
  <%= @stock_award.award_type.name %>
</p>

<p>
  <strong>Award date:</strong>
  <%= @stock_award.award_date %>
</p>

<p>
  <strong>Awarded Shares:</strong>
  <%= @stock_award.shares %>
</p>

<% if @stock_award.award_type.name == "ISO" %>
  <p>
    <strong>Grant Price:</strong>
    <%= number_to_currency(@stock_award.grant_price) %>
  </p>
<% end %>

<% @unaccounted_shares = @stock_award.shares - @stock_award.shares_in_schedule(@vestings) %>
<% if @unaccounted_shares != 0 %>
<p>
  <strong>Shares With No Vesting Schedule Specified:</strong>
  <%= @unaccounted_shares %>
</p>
<% end %>
</div>
<div class="col-md-6">

<table>
  <thead>
    <td></td>
    <td>Shares</td>
    <td>Value Estimate</td>
    <% if @stock_award.grant_price.to_i > 0 %>
    <td>Cost</td>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td>Available for Sale</td>
      <td><%= @available = @stock_award.shares_available_for_sale(@vestings, @purchases, @sales) %></td>
      <td><%= number_to_currency(@available_value = @available * @stock_price) %></td>
    </tr>

    <% @exercisable = 0 %>
    <% @exercisable_value = 0 %>
    <% if @stock_award.grant_price.to_i > 0 %>
      <tr>
        <td>Exercisable</td>
        <td><%= @exercisable = @stock_award.shares_exercisable(@vestings, @purchases) %></td>
        <td><%= number_to_currency(@exercisable_value = @exercisable * (@stock_price - @stock_award.grant_price)) %></td>
        <td><%= number_to_currency(@exercisable_cost = @exercisable * (@stock_award.grant_price)) %></td>
      </tr>
    <% end %>

    <tr>
      <td>Total Accessible</td>
      <td><%= @accessible = @available + @exercisable%></td>
        <td><%= number_to_currency( @accessible_value = @available_value + @exercisable_value) %></td>
    </tr>

    <tr>
      <td>Unvested</td>
      <td><%= @unvested = @stock_award.shares_unvested(@vestings) %></td>
        <td><%= number_to_currency(@unvested_value = @unvested * @stock_price) %></td>
    </tr>

    <tr>
      <td>Total Potential</td>
      <td><%= @total = @available + @exercisable + @unvested %></td>
      <td><%= number_to_currency(@potential_value = @available_value + @exercisable_value + @unvested_value) %></td>
    </tr>
    <tr>
      <td></td><td> .</td>
    </tr>
    <tr>
      <td>Sold</td>
      <td><%= @shares_sold = @stock_award.shares_sold(@sales) %></td>
      <td><%= number_to_currency(@sale_value = @stock_award.shares_sold_value(@sales)) %></td>
    </tr>

    <% if @total > 0 %>
    <tr>
      <td>Gross Potential Earnings</td>
      <td><%= @shares_sold + @total %></td>
      <td><%= number_to_currency(@sale_value + @potential_value = @available_value + @exercisable_value + @unvested_value) %></td>
    </tr>
    <% end %>
 
 <% if @stock_award.award_type.name == "RSU" %>   <tr>
      <td>Current Unrealized Post-Tax Potential Earnings Estimate</td>
      <td><%= @available %></td>
      <td><%= @available_value %> - per_vest((current price - vest price) * (1- tax rate))</td>
    </tr>
<% end %>
    <tr>
      <td>Fully Qualified Unrealized Post-Tax Potential Earnings Estimate</td>
      <td><%= @total %></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-md-12">
<br/>
<table border='1' style="padding:1em;">
  <tr>
    <th>Shares</th>
    <th>Vested</th>
    <th>Purchased</th>
    <th>Acquired Price</th>
    <th>Fair Market Price</th>
    <th>Sold</th>
    <th>Sale Price</th>
  </tr>
<% @transactions.each do |transaction| %>
  <tr>
    <% if transaction.is_a? StockAwardVesting %>
      <td><%= link_to transaction.vest_quantity, transaction %></td>
      <td><%= transaction.vest_date %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% elsif transaction.is_a? StockPurchase %>
      <td><%= link_to transaction.shares, transaction %></td>
      <td></td>
      <td><%= transaction.date %></td>
      <td><%= number_to_currency transaction.acquired_price %>
      <td><%= number_to_currency transaction.acquired_fmv %>
      <td></td>
      <td></td>
    <% elsif transaction.is_a? StockSale %>
      <td><%= link_to transaction.shares, transaction %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= transaction.date %></td>
      <td><%= number_to_currency transaction.price %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to 'Add Vesting Date', new_stock_award_vesting_path(@stock_award) %> 

<%= link_to 'Add Stock Exercise Record', new_stock_purchase_path(@stock_award) %> 

<%= link_to 'Add Stock Sale Record', new_stock_sale_path(:award => @stock_award) %> 
<br/><br/>
Current Unrealized Post-Tax Potential Earnings Estimate - for RSU's need to get all vested shares, subtract the shares that have been sold, times the current stock price, minus spread of the vested shares fmv vest price vs. today by either (1-0.28) or (1-0.15) depending if it is consdered long-term or not
<br/>
<%= link_to 'Edit', edit_stock_award_path(@stock_award) %> |
<%= link_to 'Back', stock_awards_path %>
</div>