<h1>Listing event_agenda_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_agenda_items.each do |event_agenda_item| %>
      <tr>
        <td><%= event_agenda_item.name %></td>
        <td><%= link_to 'Show', event_agenda_item %></td>
        <td><%= link_to 'Edit', edit_event_agenda_item_path(event_agenda_item) %></td>
        <td><%= link_to 'Destroy', event_agenda_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event agenda item', new_event_agenda_item_path %>
