<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_name %><br>
    <%= f.text_field :task_name %>
  </div>
  <div class="field">
    <%= f.label :task_path %><br>
    <%= f.text_field :task_path %>
  </div>
  <div class="field">
    Security Domain:<br>
    <% if @task.security_domain_id != nil %>
      <%= f.select :security_domain_id, options_from_collection_for_select(SecurityDomain.all, :id, :name, @task.security_domain_id), :include_blank => true %>
    <% else %>
      <%= f.select :security_domain_id, options_from_collection_for_select(SecurityDomain.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :search_indexed %><br> 
    <%= f.check_box :search_indexed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
