<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Task path:</strong>
  <%= @task.task_path %>
</p>

<p>
  <strong>Security domain:</strong>
  <%= link_to @task.security_domain.name, @task.security_domain %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
