<%= form_for(@event_template_has_event_activity) do |f| %>
  <% if @event_template_has_event_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_template_has_event_activity.errors.count, "error") %> prohibited this event_template_has_event_activity from being saved:</h2>

      <ul>
      <% @event_template_has_event_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    Event Template<br>
    <% if @event_template_has_event_activity.event_template != nil %>
      <%= f.select :event_id, options_from_collection_for_select(EventTemplate.all, :id, :name, @event_template_has_event_activity.event_template.id), :include_blank => true %>
    <% else %>
      <%= f.select :event_id, options_from_collection_for_select(EventTemplate.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :activities_id %><br>
    <% if @event_template_has_event_activity.activity != nil %>
      <%= f.select :activities_id, options_from_collection_for_select(EventActivity.all, :id, :name, @event_template_has_event_activity.activity.id), :include_blank => true %>
    <% else %>
      <%= f.select :activities_id, options_from_collection_for_select(EventActivity.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
