<p id="notice"><%= notice %></p>

<p>
  <strong>Event Template:</strong>
  <%= link_to @event_template_has_event_activity.event_template.name, @event_template_has_event_activity.event_template %>
</p>

<p>
  <strong>Activities:</strong>
  <%= link_to @event_template_has_event_activity.activity.name, @event_template_has_event_activity.activity %>
</p>

<%= link_to 'Edit', edit_event_template_has_event_activity_path(@event_template_has_event_activity) %> |
<%= link_to 'Back', event_template_has_event_activities_path %>
