<%= form_for(@trip_has_participant) do |f| %>
  <% if @trip_has_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_has_participant.errors.count, "error") %> prohibited this trip_has_participant from being saved:</h2>

      <ul>
      <% @trip_has_participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :trip_id %>: <%= @trip.name %>
    <%= f.hidden_field :trip_id, :value => @trip.id %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br>
    <% if @trip_has_participant.participant_id != nil %>
      <%= f.select :participant_id, options_from_collection_for_select(Person.all, :id, :first_name, @trip_has_participant.buyer_person_id), :include_blank => true %>
    <% else %>
      <%= f.select :participant_id, options_from_collection_for_select(Person.all, :id, :first_name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :organizer %><br>
    <%= f.check_box :organizer %>
  </div>
  <div class="field">
    <%= f.label :private_viewer %><br>
    <%= f.check_box :private_viewer %>
  </div>
  <div class="field">
    <%= f.label :traveler %><br>
    <%= f.check_box :traveler %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
