<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-12">
    Recipe Title<br>
    <%= f.text_field :name, :class => "form-control" %>
    <%= f.hidden_field :id, :class => "form-control" %>
  </div>
  <div class="field col-md-4">
    <%= f.label :serving_size %><br>
    <%= f.text_field :serving_size, :class => "form-control"  %>
  </div>
  <div class="field col-md-4">
    <%= f.label :source %><br>
    <%= f.text_field :source , :class => "form-control" %>
  </div>
  <div class="field  col-md-12">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control"  %>
  </div>
  <div class="field col-md-12">
    <strong>Ingredients</strong><br>
    <table>
      <th>Amount</th>
      <th>Quantity Type</th>
      <th>Ingredient</th>
      <th>Additional Notes</th>
      <% if @ingredients != nil %>
      <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= text_field_tag :amount, ingredient.amount, :class => "form-control  ingredient_amount" , size: '5', :name => "recipe[ingredient_amount]"%></td>
        <td> <%= select_tag :quantity_type_id, options_from_collection_for_select(QuantityType.all, :id, :quantityType, ingredient.quantity_type_id), {:include_blank => true, :class => "form-control quantity_type"}%></td>
        <td><%= select_tag :food_item_id, options_from_collection_for_select(FoodItem.all, :id, :name, ingredient.food_item_id), {:include_blank => true, :class => "form-control food_item"} %></td>
        <td><%= text_field_tag :note, ingredient.note, :class => "form-control  ingredient_note" , size: '15', :name => "recipe[ingredient_note]"%></td>
        <td><button type='button' class='btn btn-default remove_row' action='#'>X</button></td>
      </tr>
      <% end %>
      <% end %>
      <tr>
        <td><%= text_field_tag :amount, "", :class => "form-control last_ingredient ingredient_amount" , size: '5', :name => "recipe[ingredient_amount]"%></td>
        <td> <%= select_tag :quantity_type_id, options_from_collection_for_select(QuantityType.all, :id, :quantityType), {:include_blank => true, :class => "form-control quantity_type"}%></td>
        <td><%= select_tag :food_item_id, options_from_collection_for_select(FoodItem.all, :id, :name), {:include_blank => true, :class => "form-control last_food_ingredient food_item"} %></td>
        <td><%= text_field_tag :note, '', :class => "form-control  ingredient_note" , size: '15', :name => "recipe[ingredient_note]" %></td>
        <td></td>
      </tr>
    </table>
  </div>
    <div class="field col-md-12">
    <strong>Instructions</strong><br>
      <div class="field">
        <table>
          <% @instructions.each do |step| %>
          <tr>
            <td><%= hidden_field_tag :order , "", :readonly => true%></td>
            <td><%= text_area_tag :instruction, step.instruction,
            :class => "form-control instruction", 
             rows: "1", cols: "50" %></td>
             <td><button type='button' class='btn btn-default remove_row' action='#'>X</button></td>
          </tr>
          <% end %>
          <tr>
            <td><%= hidden_field_tag :order , "", :readonly => true%></td>
            <td><%= text_area_tag :instruction, "", :class => "form-control instruction last_instruction", rows: "1", cols: "50" %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="field col-md-12">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :class => "form-control"  %>
  </div>
  <div class="field col-md-12">
    <%= f.label :picture_id %><br>
    <% if @recipe.picture != nil %>
    <%= f.select :picture_id, options_from_collection_for_select(Picture.all, :id, :name, @recipe.picture.id), {:include_blank => true, :class => "form-control" }  %>
    <% else %>
    <%= f.select :picture_id, options_from_collection_for_select(Picture.all, :id, :name), {:include_blank => true, :class => "form-control" }  %>
    <% end %>
  </div>
  <div class="field col-md-12">
    <%= f.label :author_id %><br>
    <%= f.select :author_id, options_from_collection_for_select(Person.all, :id, :first_name, {:disabled => true}) %>
  </div>
  <div class="actions col-md-12">
    <%= submit_tag 'Submit', :type => 'button' , :class => "submit" %>
    <%= link_to 'Back', recipes_path %>
  </div>
<% end %>

<script type="text/javascript">
$(document).on('click','.submit', function (){
  //get recipe id
  var $id = $('#recipe_id').val();
  //get name
  var $title = $('#recipe_name').val();
  //get serving size
  var $serving_size = $('#recipe_serving_size').val();
  //get source
  var $source = $('#recipe_source').val();
  //get description
  var $description = $('#recipe_description').val();
  //get ingredients
  var $ingredient_amounts = $('.ingredient_amount').map(function() {return this.value;  }).get();
  var $ingredient_quantity_types = $('.quantity_type').map(function() {return this.value;  }).get();
  var $ingredient_food_items = $('.food_item').map(function() {return this.value;  }).get();
  var $ingredient_notes = $('.ingredient_note').map(function() {return this.value;  }).get();
  //get instructions
  var $instructions = $('.instruction').map(function() {return this.value;  }).get()
  //get notes
  var $notes = $('#recipe_notes').val();
  //get author
  var $author = $('#recipe_author_id').val();
  //send to ajax
  var send_data = $.ajax({
    url: "/recipes/sync_recipe", 
    type: "POST", 
    //success: function(data, textStatus ){ alert('request successful'); },
    error: function(xhr, textStatus, errorThrown){ alert('request failed' + textStatus + errorThrown); },
    data: {'id': $id, 'title': $title, 'serving_size': $serving_size, 'source': $source, 'description': $description, 'ingredient_amounts': $ingredient_amounts, 'ingredient_quantity_types': $ingredient_quantity_types, 'ingredient_food_items': $ingredient_food_items, 'ingredient_notes': $ingredient_notes, 'instructions': $instructions, 'notes': $notes, 'author_id': $author}, dataType: 'json'}

    ).done(function(data){ 
      //console.log(data);
      //alert("test");
      $('form').submit();
      //window.location.href = "/recipes/" + data['id'];
  });
});

//on either a keypress in the last ingredient amount OR on a click on the last ingredient item
$(document).on('keypress','.last_ingredient', function () {
  addIngredientRow($(this).parent());
})

$(document).on('click','.remove_row', function () {
  $amount_element = $(this).parent().parent().remove();
})

$(document).on('click','.last_food_ingredient', function () {
  $amount_element = $(this).parent().prev().prev();
  addIngredientRow($amount_element);
})

function addIngredientRow(node){
  node.children().first().removeClass("last_ingredient");
  node.next().next().children().first().removeClass("last_food_ingredient");
  node.next().next().next().after("<td><button type='button' class='btn btn-default remove_row' action='#'>X</button></td></tr>");
  node.parent().after("<tr>"+
        "<td><%= escape_javascript(text_field_tag :amount, '', :class => 'form-control last_ingredient ingredient_amount', size: '5', :name => 'recipe[ingredient_amount]') %></td>" +
        "<td> <%= escape_javascript(select_tag :quantity_type_id, options_from_collection_for_select(QuantityType.all, :id, :quantityType), {:include_blank => true, :class => 'form-control quantity_type'} )%></td>" +
        "<td><%= escape_javascript(select_tag :food_item_id, options_from_collection_for_select(FoodItem.all, :id, :name), {:include_blank => true, :class => 'form-control last_food_ingredient food_item'}) %></td> " +
        "<td><%= escape_javascript(text_field_tag :note, '', :class => 'form-control  ingredient_note' , size: '15', :name => 'recipe[ingredient_note]')%></td>" +
        "<td></td>" +
      "</tr>");
}

$steps = 0;
//on either a keypress in the last ingredient amount OR on a click on the last ingredient item
$(document).on('keypress','.last_instruction', function () {
  addInstructionRow($(this));
})

$(document).on('paste','.last_instruction', function () {
  addInstructionRow($(this));
})

function addInstructionRow(node){
  node.removeClass("last_instruction");
  node.parent().after("<td><button type='button' id='remove_ingredient' class='btn btn-default remove_row'>X</button>");
  node.parent().parent().after("<tr>" +
            "<td><%= escape_javascript(hidden_field_tag :order) %></td>" +
            "<td><%= escape_javascript(text_area_tag :instruction, '', :class => 'form-control instruction last_instruction', rows: '1', cols: '50') %></td>" +
          "</tr>");
}
</script>
