<h1> Meal Plan </h1> 
<table border='1'>
  <tr>
    <% @days.each_with_index do |day, i| %>
      <td>
        <h5><%= (@plan_date + i).strftime("%a - %m/%d/%Y") %></h5>
        <ul>
          <lh>Breakfast</lh>
        <% day[:breakfast].each do |meal| %>
          <li><%= link_to meal.display_name, meal %></li> make link smarter
        <% end %>
        </ul>
        
        <ul>
          <lh>Lunch</lh>
        <% day[:lunch].each do |meal| %>
          <li><%= link_to meal.display_name, meal %></li> make link smarter
        <% end %>
        </ul>
        
        <ul>
          <lh>Dinner</lh>
        <% day[:dinner].each do |meal| %>
          <li><%= link_to meal.display_name, meal %></li> make link smarter
        <% end %>
        </ul>
        
        <ul>
          <lh>Snacks</lh>
        <% day[:snacks].each do |meal| %>
          <li><%= link_to meal.display_name, meal %></li> make link smarter
        <% end %>
        </ul>
        <br/>
        <%= link_to "Add", new_planned_meal_path(:date => (@plan_date + i)) %>

      </td>
    <% end %>
  </tr>
</table>

<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
<div class="row">
<div class="col-md-4">
<table>
    
      <tr>
        <td><% if recipe.picture != nil %><div style="max-height:150px;width:200px;overflow:hidden;"><%#= link_to image_tag(recipe.picture.image.url(), :style => "width:100%;top-100%;bottom-100%;"), recipe %></div><% end %></td>
        <td style='padding-left:2em;'><h4><%= link_to recipe.name, recipe %></h4><p><%= recipe.serving_size %></p></td>
        <td></td>
        <td style='padding-left:1em;'>
        	<% if recipe.description != nil and recipe.description.length > 225 %>
        		<%= recipe.description.first(225) %> ...
        	<% else %>
        		<%= recipe.description %>
        	<% end %>
        </td>
      </tr>

</table>
</div>
</div>
<% end %>
<br>
<div class="col-md-12">
<%= link_to 'New Recipe', new_recipe_path %>
</div>