<p id="notice"><%= notice %></p>

<h3>
  <%= @recipe.name %>
</h3>

<div class="pull_right">
  <% if @recipe.picture != nil %> <%=  image_tag(@recipe.picture.image.url(), width: 400) %> <% end %>
</div>

<div class="field col-md-6">
  <strong>Serving size:</strong>
  <%= @recipe.serving_size %>
</div>

<div class="field col-md-6">
  <strong>Source:</strong>
  <% if @recipe.source.include? "http" %>
    <a href='<%= @recipe.source %>' target='_blank'><%= @recipe.source %></a>
  <% else %>
    <%= @recipe.source %>
  <% end %>
</div>

<div class="field col-md-12">
  <strong>Description:</strong>
  <%= @recipe.description %>
</div>

<div class="field col-md-12">
  <strong>Ingredients:</strong>
  <% @recipe_price_estimate = 0 %>
  <% @no_price = false %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.amount %> <% if ingredient.quantity_type != nil %><%= ingredient.quantity_type.quantityType %> <% end %>
        <% if ingredient.food_item != nil %>
           - 
          <%= link_to ingredient.food_item.name, ingredient.food_item %> 
          
          <% @quantityType = ingredient.quantity_type %> 
          <% if @quantityType != nil and ingredient.amount =~ /0-9 \//%>
            <% @price = ingredient.food_item.get_average_price_for_amount(ingredient.amount, @quantityType) %>
            <% @quantityType = @quantityType.quantityType %>
            <% if @price != nil%>
              <em>(~ $<%= '%.2f' %  @price %>
              <% if ingredient.amount == "" %>
                / <%= @quantityType %>
                <% @no_price = true %>
              <% else %>
                <% @recipe_price_estimate = @recipe_price_estimate + @price %>
              <% end %>
              )</em>
            <% else %>
              <% @no_price = true %>
            <% end %>
          <% end %>
        <% end %>
        <%= ingredient.note %>
      </li>
    <% end %>
  </ul>
  <% if @recipe_price_estimate != 0 %>
    Recipe Cost Estimate: $<%= '%.2f' % @recipe_price_estimate %> 
    <% if @no_price %>
      + some possible additional expenses
    <% end %>
  <% end %>
</div>

<div class="field col-md-12">
  <strong>Instructions:</strong>
  <ol>
  <% @instructions.each do |step| %>
    <li><%= step.instruction %></li>
  <% end %>
  </ol>
</div>


<div class="field col-md-12">
  <strong>Notes:</strong>
  <%= @recipe.notes %>
</div>

<div class="field col-md-12">
  <% if @recipe.author != nil %>
    <strong>Added By:</strong>
    <%= @recipe.author.first_name %>
  <% end %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
