<br/>
<div>
<% @all_items.each do |items| %>
<div id="inventory_category"><% puts "test" %><% puts items.first %>
  <h3>
    <% if items.first != nil and items.first.category != nil %>
      <%= items.first.category.category %>
    <% elsif items.first != nil %>
      Miscellaneous
    <% end %>
  </h3>
<ul>
    <% items.each do |inventory_item| %>
      <li><% if  inventory_item.amazon_link != '' and inventory_item.amazon_link != nil%><span id="image_preview"><%= raw inventory_item.amazon_link %></span><% end %>
        <%= link_to inventory_item.full_name , inventory_item %>
        <% if inventory_item.quantity_type != nil %> <%= inventory_item.quantity_type.quantityType %> <%end%>
        <%# if @current_user.has_access_to_path("inventory_items" , "edit", inventory_item.id) %>
          <%#= link_to 'Edit', edit_inventory_item_path(inventory_item) %> 
        <%# end %>
        <%= link_to '+', new_inventory_owner_path(inventory_item) %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
</div>