<h1>Inventory</h1>

<table>
  <tr>
    <td valign="top">
<div>
  <h3>Clothing</h3>
<ul>
    <% @clothes.each do |inventory_item| %>
      <li>
        <%= link_to inventory_item.full_name , inventory_item %>
        <% if inventory_item.quantity_type != nil %> <%= inventory_item.quantity_type.quantityType %> <%end%>
        <%= link_to 'Edit', edit_inventory_item_path(inventory_item) %>
        <%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
</td>
<td valign="top">
<div>
  <h3>Electronics</h3>
<ul>
    <% @electronics.each do |inventory_item| %>
      <li>
        <%= link_to inventory_item.full_name , inventory_item %>
        <% if inventory_item.quantity_type != nil %> <%= inventory_item.quantity_type.quantityType %> <%end%>
        <%= link_to 'Edit', edit_inventory_item_path(inventory_item) %>
        <%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
</td>
<td valign="top">
<h3>Food</h3>
<ul>
    <% @electronics.each do |inventory_item| %>
      <li>
        <%= link_to inventory_item.full_name , inventory_item %>
        <% if inventory_item.quantity_type != nil %> <%= inventory_item.quantity_type.quantityType %> <%end%>
        <%= link_to 'Edit', edit_inventory_item_path(inventory_item) %>
        <%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
</td>
<td valign="top">
<h3>Miscellaneous</h3>
<ul>
    <% @miscellaneous.each do |inventory_item| %>
      <li>
        <%= link_to inventory_item.full_name , inventory_item %>
        <% if inventory_item.quantity_type != nil %> <%= inventory_item.quantity_type.quantityType %> <%end%>
        <%= link_to 'Edit', edit_inventory_item_path(inventory_item) %>
        <%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
</td>
</tr>
</table>

<br>

<%= link_to 'New Inventory item', new_inventory_item_path %>
