<p id="notice"><%= notice %></p>

<div id='item_header'>
  <div id='item_profile'>
  <table>
    <tr>
      <td>
          <%=raw @inventory_item.amazon_link %>
      </td>
      <td valign='top'>
        <p style="margin-top: 0;">
          <em>
          <% if  @inventory_item.category != nil and  @inventory_item.subcategory != nil %>
             <%= @inventory_item.category.category + " > " + @inventory_item.subcategory.subcategory + ": " %>
          <% elsif @inventory_item.category != nil %>
              <%= @inventory_item.category.category + ": "%>
          <% end %>
        </em>
          <h3>
            <%= @inventory_item.name %>
          </h3>
        </p>
        <% if @inventory_item.brand != '' %>
        <p>

          <strong>Brand:</strong>
          <%= @inventory_item.brand %>
        </p>
        <% end %>
        <% if @inventory_item.detail != '' %>
        <p>
          <strong>Detail:</strong>
          <%= @inventory_item.detail %>
        </p>
        <% end %>

      </td>
    </tr>
  </table>
  <p>
    <strong>Note:</strong>
    <%= @inventory_item.note %>
  </p>
  </div>



  <div id='item_ownership'>
    <h3 style="margin-top: 0;">Item Ownership</h3>
    <% if @ownerships.count > 0 %>
      <% if @ownerships.count == 1 and (@ownerships.first.amount == '' or  @ownerships.first.amount == nil )%>
        You have 1           
          <% if @ownerships.first.stored_in != nil %>
            stored in <%= link_to @ownerships.first.stored_in.full_name, @ownerships.first.stored_in %>
          <% end %>
          <%= link_to 'edit', edit_inventory_owner_path(@ownerships.first) %> <br/>
      <% else %>
        You have:
        <ul style="margin-top: 0;">
        <% @ownerships.each do |ownership| %>
          <li>
            <% if ownership.amount != '' and ownership.quantity_type != nil %>
              <%= ownership.amount.to_s.sub(/(?:(\..*[^0])0+|\.0+)$/, '\1') + ' ' + ownership.quantity_type.quantityType %>
            <% elsif ownership.amount != '' %>
              <%= ownership.amount.to_s.sub(/(?:(\..*[^0])0+|\.0+)$/, '\1') + ' '%>
            <% end %>
          <% if ownership.stored_in != nil %>
            stored in <%= link_to ownership.stored_in.full_name, ownership.stored_in %>
          <% end %>
          <%= link_to 'edit', edit_inventory_owner_path(ownership) %> <br/>
        </li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
    <% if @contains.count >0 %>
      <p>
        <strong>Contains:</strong>
        <ul>
          <% @contains.each do |content| %>
            <li><%= link_to content.inventory_item.full_name, content.inventory_item %></li>
          <% end %>
        </ul>
      </p>
    <% end %>
    <% if @inventory_item.price != '' and @inventory_item.price != nil%>
      <p>
        <strong>Purchased Price:</strong>
        <%= @inventory_item.price %>
      </p>
    <% end %>
    <% if @ownerships.count > 0 %>
       <br/><%= link_to 'Add Another to My Inventory', new_inventory_owner_path(@inventory_item) %>
    <% else %>
       <br/><%= link_to 'Add to My Inventory', new_inventory_owner_path(@inventory_item) %>
    <% end %>
    <% if @transactions.count > 0 %>
    <br/><br/>Transactions:
    <% end %>
    <% @transactions.each do |transaction| %>
      <br/>
      <%= transaction.transaction_date.try(:strftime, "%D") %> |
      $<%= transaction.price %> - 
      <%= transaction.amount %> 
      <% if transaction.quantity_type != nil %>
        <%= transaction.quantity_type.quantityType %>
      <% end %>
      @ 
      <% if transaction.seller_business != nil %>
        <%= transaction.seller_business.name %>
      <% end %>  
        <%= link_to 'edit', edit_transaction_path(transaction) %>
    <% end %>
    <br/>
    <%= link_to 'Add Transaction', new_transaction_path(@inventory_item) %>
    <br/>
    <% @amount_type = @inventory_item.quantity_type %>
    <% if @inventory_item.average_price_by(@amount_type) != nil %>
      Average Price: $<%= @inventory_item.average_price_by(@amount_type) %> <% if @amount_type != nil %> /<%= @amount_type.quantityType %> <% else %> each <% end %>
    <% end %>
  </div>
</div>


<% if @trip_items.count > 0 %>
<p>
  <strong>Packed for Trips:</strong>

  <ul>
    <% @trip_items.each do |item| %>
      <li><%= link_to item.trip.name, item.trip %> <a href='#'>remove</a></li>
    <% end %>
  </ul>
  <% end %>
  <%= link_to 'Add to Trip' , new_trip_has_inventory_item_path({:item => @inventory_item}) %>
</p>

<p>
  <strong>Used for Activites:</strong>
  <% if @activity_items.count > 0 %>
  <ul>
    <% @activity_items.each do |item| %>
      <li><%= link_to item.activity.name, item.activity %> <a href='#'>remove</a></li>
    <% end %>
  </ul>
  <% end %>
  <a href='#'>Add as Gear for Activity</a>  <%= link_to 'Temporary Add Item' , new_activity_has_inventory_item_path %>
</p>
<p>
<span id="itemPrivacy">Inventory Item is 
<% if @inventory_item.public == nil or @inventory_item.public == false %>
  private.   
  <% if @current_user.has_access_to_path("public_inventory_item_queue" , "index", nil) and PublicInventoryItemQueue.where(:item_id => @inventory_item.id, :reviewed => false).count > 0 %>
    Item Requested to be public. <button id='publish'>Publish Item</button>
  <% end %>
<% else %>
  public.
<% end %> 
</span>
Item is <%= @inventory_item.public %>!
</p>
<% if @current_user.has_access_to_path("inventory_items" , "edit", @inventory_item.id) %>
  <%= link_to 'Edit', edit_inventory_item_path(@inventory_item) %>
<% end %>
<%= link_to 'All Inventory Items', inventory_items_path %>


<script type="text/javascript">

$('#publish').click(function(){
  var publish = $.ajax({url: "/inventory_items/publish", type: "POST", data: {'id': <%= @inventory_item.id %>, 'publish': true}, dataType: 'json'}).done(function(data){ 
    console.log(data);
      $('#itemPrivacy').html("Inventory Item is public.");
    });
});

</script>
