<h1>Listing event_activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_activities.each do |event_activity| %>
      <tr>
        <td><%= event_activity.name %></td>
        <td><%= link_to 'Show', event_activity %></td>
        <td><%= link_to 'Edit', edit_event_activity_path(event_activity) %></td>
        <td><%= link_to 'Destroy', event_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event activity', new_event_activity_path %>
