<p id="notice"><%= notice %></p>

<p>
  <% if @hotel_chain.image != '' %>
  	<%= image_tag @hotel_chain.image, width:'200' %>
  <% else %>
	  <strong><%= @hotel_chain.name %></strong>
	<% end %>
</p>

  <% if @hotel_chain.loyalty_program != nil %> 
<p>
  <strong>Loyalty program:</strong>
    <% if @hotel_chain.loyalty_program.image != '' %>
    	<%= link_to image_tag(@hotel_chain.loyalty_program.image, height: '30'), @hotel_chain.loyalty_program %>
    <% else %>
    	<%= link_to @hotel_chain.loyalty_program.name, @hotel_chain.loyalty_program %>
    <% end %>
</p>
<% end %>

<p>
  <strong>Recent Visits:</strong><br/>
  <ul>
  <% @recent_visits.each do |visit| %>
  	<li>
  		<%= link_to(visit.attraction.name, visit.attraction) %> - <%= visit.date + ' '%><%= link_to(visit.trip.name, visit.trip)%> - <%= link_to(visit.get_name, visit) %>
  	</li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_hotel_chain_path(@hotel_chain) %> |
<%= link_to 'Back', hotel_chains_path %>
