<h1>Security Domains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @security_domains.each do |security_domain| %>
      <tr>
        <td><%= security_domain.name %></td>
        <td><%= link_to 'Show', security_domain %></td>
        <td><%= link_to 'Edit', edit_security_domain_path(security_domain) %></td>
        <td><%= link_to 'Destroy', security_domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Security domain', new_security_domain_path %>
