<%= link_to 'Airlines', airlines_path %>
<%= link_to 'Hotel Chains', hotel_chains_path %>

<table>
  <thead>
    <tr>
      <th>Looyalty Program</th>
      <th>Number</th>
      <th>Username</th>
      <th>Members</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @loyalty_programs.each do |loyalty_program| %>
      <tr>
        <td>
          <% if loyalty_program.image != '' %>
            <%= link_to image_tag(loyalty_program.image, width: '200'), loyalty_program %>
          <% else %>
            <%= link_to loyalty_program.name, loyalty_program %>
          <% end %>
        </td>
        <td><%= loyalty_program.number %></td>
        <td><%= loyalty_program.username %></td>
        <td></td>
        <td><%= link_to 'Edit', edit_loyalty_program_path(loyalty_program) %></td>
        <td><%= link_to 'Destroy', loyalty_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loyalty program', new_loyalty_program_path %>
<%= link_to 'New Airline', new_airline_path %>
<%= link_to 'New Hotel Chain', new_hotel_chain_path %>