<%= form_for(@itinerary_activity) do |f| %>
  <% if @itinerary_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itinerary_activity.errors.count, "error") %> prohibited this itinerary_activity from being saved:</h2>

      <ul>
      <% @itinerary_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :trip_id %><br>
    <% if @itinerary_activity.trip != nil %>
      <%= f.select :trip_id, options_from_collection_for_select(Trip.all, :id, :name, @itinerary_activity.trip.id), :include_blank => true %>
    <% else %>
      <%= f.select :trip_id, options_from_collection_for_select(Trip.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :attraction_id %><br>
    <% if @itinerary_activity.attraction != nil %>
      <%= f.select :attraction_id, options_from_collection_for_select(Attraction.all, :id, :name, @itinerary_activity.attraction_id), :include_blank => true %>
    <% else %>
      <%= f.select :attraction_id, options_from_collection_for_select(Attraction.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :origination_id %><br>
    <% if @itinerary_activity.origination_id != nil %>
      <%= f.select :origination_id, options_from_collection_for_select(Location.all, :id, :display_name, @itinerary_activity.origination_id), :include_blank => true %>
    <% else %>
      <%= f.select :origination_id, options_from_collection_for_select(Location.all, :id, :display_name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br>
    <% if @itinerary_activity.destination_id != nil %>
      <%= f.select :destination_id, options_from_collection_for_select(Location.all, :id, :display_name, @itinerary_activity.destination_id), :include_blank => true %>
    <% else %>
      <%= f.select :destination_id, options_from_collection_for_select(Location.all, :id, :display_name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    Airine/Operated By:<br>
    <% if @itinerary_activity.airline_id != nil %>
      <%= f.select :airline_id, options_from_collection_for_select(Airline.all, :id, :name, @itinerary_activity.airline_id), :include_blank => true %>
    <% else %>
      <%= f.select :airline_id, options_from_collection_for_select(Airline.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :basis_id %><br>
    <%= f.text_field :basis_id %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime, :include_blank => true, ampm: true %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
