<h1>Listing itinerary_activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attraction</th>
      <th>Cost</th>
      <th>Basis</th>
      <th>Datetime</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itinerary_activities.each do |itinerary_activity| %>
      <tr>
        <td><%= itinerary_activity.name %></td>
        <td><%= itinerary_activity.attraction %></td>
        <td><%= itinerary_activity.cost %></td>
        <td><%= itinerary_activity.basis %></td>
        <td><%= itinerary_activity.datetime %></td>
        <td><%= itinerary_activity.order %></td>
        <td><%= link_to 'Show', itinerary_activity %></td>
        <td><%= link_to 'Edit', edit_itinerary_activity_path(itinerary_activity) %></td>
        <td><%= link_to 'Destroy', itinerary_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary activity', new_itinerary_activity_path %>
