<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= link_to @itinerary_activity.trip.name, @itinerary_activity.trip %>
</p>

<p>
  <strong>Name:</strong>
  <%= @itinerary_activity.name %>
</p>

<p>
  <strong>Attraction:</strong>
  <% if @itinerary_activity.attraction != nil %> 
    <%= link_to @itinerary_activity.attraction.name, @itinerary_activity.attraction%>
  <% end %>
</p>

<p>
  <strong>Origination:</strong>
  <% if @itinerary_activity.origination_id != nil %> 
    <%= @itinerary_activity.origination %>
  <% end %>
  <% if @itinerary_activity.airline_id != nil %> 
    <br/><%= link_to image_tag(@itinerary_activity.airline.image, height: '20'), @itinerary_activity.airline %>
  <% end %>
</p>

<p>
  <strong>Destination:</strong>
  <% if @itinerary_activity.destination_id != nil %> 
    <%= @itinerary_activity.destination %>
  <% end %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @itinerary_activity.cost %>
</p>

<p>
  <strong>Basis:</strong>
  <%= @itinerary_activity.basis %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @itinerary_activity.datetime %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @itinerary_activity.end %>
</p>

<p>
  <strong>Order:</strong>
  <%= @itinerary_activity.order %>
</p>

<%= link_to 'Edit', edit_itinerary_activity_path(@itinerary_activity) %> |
<%= link_to 'Back', itinerary_activities_path %>
