<h1>Listing stock_purchase_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_purchase_types.each do |stock_purchase_type| %>
      <tr>
        <td><%= stock_purchase_type.name %></td>
        <td><%= link_to 'Show', stock_purchase_type %></td>
        <td><%= link_to 'Edit', edit_stock_purchase_type_path(stock_purchase_type) %></td>
        <td><%= link_to 'Destroy', stock_purchase_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock purchase type', new_stock_purchase_type_path %>
