<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %><br/>
  Pounds per cup: <%= @food_item.pounds_per_cup %>
</p>

<% @options = @food_item.get_Inventory_Options %>
Inventory Options (<%= @options.count %>)
  <ul>
  <% @options.each do |option| %>
    <li><%= link_to option.inventory_item.full_name, option.inventory_item %> 
    <% @avg_price = option.inventory_item.average_price_by(option.inventory_item.quantity_type) %>
    <% if @avg_price != nil %>
      $<%= '%.2f' %  @avg_price  %> / <%= option.inventory_item.quantity_type.quantityType %>
    <% end %></li>
  <% end %>
  <br/>
</ul>

Used in Recipes
<ul>
  <% @ingredients.each do |ingredient| %>
  <li><%= link_to ingredient.recipe.name, ingredient.recipe %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
