<%= form_for(@airline) do |f| %>
  <% if @airline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@airline.errors.count, "error") %> prohibited this airline from being saved:</h2>

      <ul>
      <% @airline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :loyalty_program_id %><br>
    <% if @activity_has_inventory_item != nil %>
      <%= f.select :loyalty_program_id, options_from_collection_for_select(LoyaltyProgram.all, :id, :name, @airline.loyalty_program_id), :include_blank => true %>
    <% else %>
      <%= f.select :loyalty_program_id, options_from_collection_for_select(LoyaltyProgram.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
