<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @airline.image, width: '200' %>
</p>

<p>
  <strong>Loyalty program:</strong>
  <% if @airline.loyalty_program != nil %> 
    <%= link_to image_tag(@airline.loyalty_program.image, height: '30'), @airline.loyalty_program %>
  <% end %>
</p>

<p>
  <strong>Recent Flights:</strong><br/>
  <ul>
  <% @recent_trips.each do |flight| %>
  	<li>
  		<%= flight.date + ' ' +flight.datetime.strftime("%I:%M %p - ") %><%= link_to(flight.trip.name, flight.trip)%> - <%= link_to(flight.get_name, flight) %>
  	</li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>
