<p id="notice"><%= notice %></p>

<p>
  <strong>Attraction:</strong>
  <%= link_to @attraction.name, @attraction %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <% if  @review.comment != nil %>
    <%= @review.comment.body %>
  <% end %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.get_reviewer.first_name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @review.public %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
