<%= form_for(@trip_has_inventory_item) do |f| %>
  <% if @trip_has_inventory_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_has_inventory_item.errors.count, "error") %> prohibited this trip_has_inventory_item from being saved:</h2>

      <ul>
      <% @trip_has_inventory_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :inventory_item_id %><br>
    <% if @trip_has_inventory_item != nil %>
      <%= f.select :inventory_item_id, options_from_collection_for_select(InventoryItem.all, :id, :full_name, @trip_has_inventory_item.inventory_item_id), :include_blank => true %>
    <% else %>
      <%= f.select :inventory_item_id, options_from_collection_for_select(InventoryItem.all, :id, :full_name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br>
    <% if @trip_has_inventory_item != nil %>
      <%= f.select :trip_id, options_from_collection_for_select(Trip.all, :id, :name, @trip_has_inventory_item.trip_id), :include_blank => true %>
    <% else %>
      <%= f.select :trip_id, options_from_collection_for_select(Trip.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>
  <div class="field">
    Date:<br>
    <%= f.date_select :date, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
