<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


          <% if Rails.env.development? %>
            <%= link_to 'DEV - Get Organized', sessions_home_path, {:class => "navbar-brand" } %>
          <% else %>
            <%= link_to 'Get Organized', sessions_home_path, {:class => "navbar-brand" } %>
          <% end %>
    </div>





  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if @current_user!= nil %>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Travel & Leisure', my_trips_path %></a></li>
        <% if @current_user.has_access_to_path("inventory_items" , "my_inventory", nil) %>
          <li><%= link_to 'My Inventory', my_inventory_path %></li>
        <% end %>
        <li><%= link_to 'Health & Wellness', my_trips_path %></a></li>
        <li><%= link_to 'Financials', my_trips_path %></a></li>
      </ul>
    <% end %>

  <% if @current_user!=nil%>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input id="header_search" type="text" class="form-control" placeholder="Search">
    </div>
<!--     <button type="submit" class="btn btn-default">Submit</button> -->

  <div id="header_search_results">
  </div>
  </form>



	

  <% if @current_user.has_access_to_path("activities" , "index", nil) %>
	 <%= link_to 'Activities', activities_path %>
	<% end %>
  <% if @current_user.has_access_to_path("exercise_centers" , "index", nil) %>
   <%= link_to 'Exercise Centers', exercise_centers_path %>
  <% end %>
<% end %>



  <% if @current_user!=nil%>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <img src= <%= @current_user.picture %> class="navbar-brand profile_header_pic" ></li><li><%= link_to @current_user.username, sessions_profile_path, {:class => 'navbar-link'} %>
        </li>
        <li>  
          <%= link_to 'Log Out', logout_path, {:class => 'navbar-link'} %>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Log In', sessions_login_path %> 
        </li>
        <li>  
          <%= link_to 'Sign Up', users_new_path %>
        </li>
      </ul>
    <%end%>

</div>
   

</nav>

<script type="text/javascript">
	 var timeoutID = null;

	function findMemberForHeader(str) {
	    $.ajax({url: "<%= search_path %>", type: "POST", data: {'search_string': str}, dataType: 'json'}).done(function(data){ 
console.log(data);
        var $items = "";
        for(i=0; i < data.length -1; i++){
        	if(data[i][0]==0){
        		$row = "<div id='result_row'><a href="+data[i][2]+">" + data[i][1] + "</a></div>";
        	}else if(data[i][0]==1){
        		$row = "<div id='result_row'><a href=/inventory_items/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
        	}else if(data[i][0]==2){
        		$row = "<div id='result_row'><a href=/trips/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
        	}else if(data[i][0]==3){
        		$row = "<div id='result_row'><a href=/attractions/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
        	}
          
          $items = $items + $row;
        }
       		$('div#header_search_results').html($items + "<div id='result_row'><em>" + data[data.length -1] + '</em></div>');
      });
    
  }

  $('#header_search').keyup(function() {
    clearTimeout(timeoutID);
    var $target = $(this);
    timeoutID = setTimeout(function() {
    	var searchString = $target.val();
    	if(searchString.length > 2){ 
    		findMemberForHeader($target.val()); 
    	}else{
        $('div#header_search_results').html("");
      }
    }, 500); 
  });

</script>