<div id='header-fixed'>
	<% if Rails.env.development? %>
		<em>DEV</em>
	<% end %>

	<strong><%= link_to 'Get Organized', root_path %></strong>
	<input id="header_search" type="search">

	<div id="header_search_results">
	</div>

	<%= link_to 'Travel & Leisure', my_trips_path %>
	<%= link_to 'My Inventory', my_inventory_path %>
	<%= link_to 'Activities', activities_path %>
	<%= link_to 'Exercise Centers', exercise_centers_path %>

	<div id='profile'>
	<% if @current_user!=nil%>
			<img src= <%= @current_user.picture %> class="profile_header">
			<%= link_to @current_user.username, sessions_profile_path %>   
			<%= link_to 'Log Out', logout_path %>
		<% else %>
			<%= link_to 'Log In', sessions_login_path %> or 
			<%= link_to 'Sign Up', users_new_path %>
		<%end%>
	</div>
</div>


<script type="text/javascript">
	 var timeoutID = null;

	function findMemberForHeader(str) {
	    $.ajax({url: "<%= search_path %>", type: "POST", data: {'search_string': str}, dataType: 'json'}).done(function(data){ 
console.log(data);
        var $items = "";
        for(i=0; i < data.length -1; i++){
        	if(data[i][0]==0){
        		$row = "<div id='result_row'><a href="+data[i][2]+">" + data[i][1] + "</a></div>";
        	}else if(data[i][0]==1){
        		$row = "<div id='result_row'><a href=/inventory_items/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
        	}else if(data[i][0]==2){
        		$row = "<div id='result_row'><a href=/trips/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
        	}else if(data[i][0]==3){
        		$row = "<div id='result_row'><a href=/attractions/"+data[i][2]+"'>" + data[i][1] + "</a></div>";
        	}
          
          $items = $items + $row;
        }
       		$('div#header_search_results').html($items + "<div id='result_row'><em>" + data[data.length -1] + '</em></div>');
      });
    
  }

  $('#header_search').keyup(function() {
    clearTimeout(timeoutID);
    var $target = $(this);
    timeoutID = setTimeout(function() {
    	var searchString = $target.val();
    	if(searchString.length > 2){ 
    		findMemberForHeader($target.val()); 
    	}else{
        $('div#header_search_results').html("");
      }
    }, 500); 
  });

</script>