<div id='header-fixed'>
	<% if Rails.env.development? %>
		<em>DEV</em>
	<% end %>
<strong>Get Organized</strong>
<%= link_to 'Travel & Leisure', trips_path %>
<%= link_to 'My Inventory', my_inventory_path %>
<%= link_to 'Activities', activities_path %>
<%= link_to 'Exercise Centers', exercise_centers_path %>
<div id='profile'>
<% if @current_user!=nil%>
		<img src= <%= @current_user.picture %> class="profile_header">
		<%= @current_user.username %>   
		<%= link_to 'Log Out', logout_path %>
	<% else %>
		<%= link_to 'Log In', sessions_login_path %> or 
		<%= link_to 'Sign Up', users_new_path %>
	<%end%>
</div>
</div>
