<p id="notice"><%= notice %></p>

<p>
  <h3><%= @attraction.name %></h3>
  <strong>category:</strong>
  <% if @attraction.attraction_category != nil %>
  	<%= @attraction.attraction_category.name %>
  	<% end %>
  <br/><br/>

  <% if @attraction.hotel_id != nil %>
  	<% if @attraction.hotel.image != '' %> 
    	<%= link_to image_tag(@attraction.hotel.image, height: '30'), @attraction.hotel %>
    <% else %>
    	<%= @attraction.hotel.name %>
  	<% end %>

  	<% if @attraction.hotel.loyalty_program != nil %> 
    	<% if @attraction.hotel.loyalty_program.image != '' %>
    		<%= link_to image_tag(@attraction.hotel.loyalty_program.image, height: '30'), @attraction.hotel.loyalty_program %>
    	<% else %>
    		<%= link_to @attraction.hotel.loyalty_program.name, @attraction.hotel.loyalty_program %>
    	<% end %>
  	<% end %>
  <% end %>
</p>
<% if @attraction.trip_advisor_link != nil and  @attraction.trip_advisor_link != '' %>
	<div id="TA_cdsratingsonlynarrow74" class="TA_cdsratingsonlynarrow">
	<ul id="70CkSg5" class="TA_links Q8YmqqWp0">
	<li id="x2jv1QJDiRe3" class="qss0FQOkEJ">
	<a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
	</li>
	</ul>
	</div>
	<script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=74&amp;locationId=<%= @attraction.trip_advisor_location_id %>&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>
<% end %>

<p>
  <strong>Recent Visits:</strong><br/>
  <ul>
  <% @recent_visits.each do |visit| %>
  	<li>
  		<% if visit.datetime != nil %><%= visit.date + ' '%><% end %><%= link_to(visit.trip.name, visit.trip) %> - <%= link_to(visit.get_name, visit) %>
  	</li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
