<p id="notice"><%= notice %></p>

<p>
  <h3><%= @attraction.name %></h3>
  <strong>category:</strong>
  <% if @attraction.attraction_category != nil %>
  	<%= @attraction.attraction_category.name %>
  	<% end %>
  <br/><br/>

  <% if @attraction.hotel_id != nil %>
  	<% if @attraction.hotel.image != '' %> 
    	<%= link_to image_tag(@attraction.hotel.image, height: '30'), @attraction.hotel %>
    <% else %>
    	<%= @attraction.hotel.name %>
  	<% end %>

  	<% if @attraction.hotel.loyalty_program != nil %> 
    	<% if @attraction.hotel.loyalty_program.image != '' %>
    		<%= link_to image_tag(@attraction.hotel.loyalty_program.image, height: '30'), @attraction.hotel.loyalty_program %>
    	<% else %>
    		<%= link_to @attraction.hotel.loyalty_program.name, @attraction.hotel.loyalty_program %>
    	<% end %>
  	<% end %>
  <% end %>
</p>

<p>
  <strong>Recent Visits:</strong><br/>
  <ul>
  <% @recent_visits.each do |visit| %>
  	<li>
  		<% if visit.datetime != nil %><%= visit.date_string + ' '%><% end %><%= link_to(visit.trip.name, visit.trip) %> - <%= link_to(visit.get_name, visit) %>
  	</li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>


<div id="TA_selfserveprop104" class="TA_selfserveprop">
<ul id="Ng5lvBHxf8" class="TA_links pUK76uDW5">
<li id="zJ1CKg" class="XOsDp3aTOI6">
<a target="_blank" href="http://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>
<script src="https://www.tripadvisor.com/WidgetEmbed-selfserveprop?amp;locationId=<%= @attraction.trip_advisor_location_id %>&amp;writereviewlink=true&amp;rating=true&amp;border=true&amp;uniq=104&amp;iswide=false&amp;popIdx=true&amp;lang=en_US&amp;nreviews=5&amp;display_version=2"></script>
